<!DOCTYPE html>
<html>
    <head>
        <title>OpenAI Chat</title>
        <meta charset="utf-8">
        <meta name="description" content="This is the financial chat AI bot">
        <link rel="stylesheet" href="style.css">
        <script src="script.js"></script>
    </head>
    <body>
        <h1>MoneyChat 💵 </h1>
        <form id="uploadForm" enctype="multipart/form-data">
            <input type="file" id="userFile" name="file"/><br>
            <button type="button" onclick="uploadFile()">Upload</button>
        </form>
        
        <!-- <button type="button" id="pieChart" onclick="pieChart()">Expense Pie chart of {whichMonth} month</button><br>
        <button>Monthly expense trend</button> -->
        
        <!-- ChatBox -->
        <input type="text" id="userMessage" placeholder="Type here..."/>
        <button onclick="sendMessage()">✅</button>
        <div id="chat-box" style="background-color: bisque;"></div>

        <script type="text/javascript" src="script.js"></script>
    </body>
</html>
